.fade.in {
  opacity: 1;
}

.messageInput {
  resize: none;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
}

.chat-container {
  flex-grow: 1;
  overflow-y: scroll;
  margin-bottom: 10px;
  background: #edf5fc;
  padding: 10px;
  border-radius: .25rem;
  border: 1px solid #dcebf8;
}

.chat-container::-webkit-scrollbar {
  width: 5px;
}

.chat-container::-webkit-scrollbar {
  background-color: #dcebf8;
}

.chat-container::-webkit-scrollbar {
  width: 5px;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #5faef4
}
    
.chat-container::-webkit-scrollbar-track {
  background: #dcebf8;
}
    
.card-body {
  padding: .7rem;
}

.card-pending {
  opacity: 0.5;
}

.card-err {
  border-color: red!important;
}

.card {
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 0;
}

.card-self {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-color: #5faef4;
}

.card-self .card-title {
  text-align: right;
}

.card-self .card-text {
  text-align: right;
}