.fade.in {
  opacity: 1;
}

.message {
  display: flex;
  flex-direction: column;
}

.message-self {
  align-items: flex-end;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
}

.chat-container {
  flex-grow: 1;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 10px;
}